<div class="container">
	<div class="row">
		<h1><strong> Together-Go! </strong>とは...</h1>
		<p><strong> Togeher-Go！ </strong>は合コンやパーティーのセッティングを容易に行うことのできるwebアプリケーションです。</p>
	</div>

	<div>
		<h2>Togeher-Go！の使い方</h2>
		<ol>
			<li>会員登録を行って頂き、サイトにログイン</li>
			<li>「プロフィール編集」をクリックして頂き、各種情報を入力</li>
			<li>「パーティを登録する」をクリックして頂き、ご自身が幹事となる合コンの情報を入力・登録</li>
			<li>「相手を探す」または「パーティー一覧」をクリックして頂き、ご自身の希望する相手パーティを探す</li>
			<li>相手パーティの詳細画面より、リクエストを行う</li>
			<li>リクエストが許可される・もしくはリクエスト一覧よりご自身が許可を行うと,お相手とのチャットが可能となります</li>
			<li>チャットにて、合コン・パーティーの詳細日程、詳細場所等を話し合って頂き、実際に開催準備を進めてください</li>
		</ol>
	</div>
</div>
